<div class="container">
  <div class="row">
    <div class="col-sm-auto sm-3 bg-light">
      <h4>新規会員登録</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>名前</p>
      <p>フリガナ</p>
      <p>メールアドレス</p>
      <p>郵便番号（ハイフンなし）</p>
      <p>住所</p>
      <p>電話番号（ハイフンなし）</p>
      <p>パスワード（６文字以上）</p>
      <p>パスワード（確認用）</p>
    </div>
    <div class="col-sm-8">
      <%= form_with model: @customer, url: customer_registration_path do |f| %>
      <p>
        (姓) <%= f.text_field :last_name %>
        (名) <%= f.text_field :first_name %>
      </p>
      <p>
        (セイ) <%= f.text_field :last_name_kana %>
        (メイ) <%= f.text_field :first_name_kana %>
      </p>
      <p><%= f.text_field :postal_code %></p>
      <p><%= f.text_field :address %></p>
      <p><%= f.text_field :telephone_number %></p>
      <p><%= f.text_field :encrypted_password %></p>
      <p><%= f.text_field :encrypted_password %></p>
      <p><%= f.submit '新規登録', class:"btn btn-success" %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-auto sm-3 bg-light">
      <h4>すでに登録済みの方</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-auto">
      <%= link_to "こちら", customer_session_path %>からログインしてください。
    </div>
  </div>
</div>