<div class="container my-5">
  <div class="row">
    <h4 class="font-weight-bold">
      商品一覧 (全<%= @items.count %>件)
    </h4>
  </div>
  <div class="row my-3">
    <% @items.each do |item| %>
      <div class="d-flex flex-column bd-highlight mb-3">
        <%= link_to item_path(item.id) do %>
          <div class="p-2 bd-highlight">
            <%= image_tag item.image, size: "200x200" %>
          </div>
        <% end %>
        <div class="p-2 bd-highlight">
          <%= item.name %>
        </div>
        <div class="p-2 bd-highlight">
          ￥<%= item.price %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row my-2">
    <div class="col-md-12 text-center">
      <%= paginate @items %>
    </div>
  </div>
</div>