<div class="container my-5">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @item.image, size: "200x200" %>
    </div>

    <div class="col-md-5">
      <h4 class="font-weight-bold">
        <%= @item.name %>
      </h4>
      <div class="my-3">
        <%= @item.introduction %>
      </div>
      <div class="font-weight-bold my-3">
        ￥<%= @item.price %>(税込)
      </div>
      <%= form_with model: @cart_item, url: cart_items_path do |f| %>
        <%= f.select :amount, [['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8]] %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit "カートに入れる", class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>